---
layout: default
title: HoloLinks
---
<div class="container">
	<h1>Hololive Channels</h1>

	<nav class="nav justify-content-center">
		{% include navigation.html href="/video.html" name="Hololive Videos" %}
	</nav>
	
	<br />

	<div id="hololive-jp">
		<h2>Hololive JP</h2>
		<hr />
		{% include holo_row_jp.liquid %}
	</div>
	<div id="hololive-en">
		<h2>Hololive EN</h2>
		<hr />
		{% include holo_row_en.liquid %}	
	</div>
	<div id="hololive-id">
		<h2>Hololive ID</h2>
		<hr />
		{% include holo_row_id.liquid %}
	</div>
</div>







