<div class="row">
{% for dev in site.data.dev_is limit: 5 offset: continue %}
		<div class="col center">
			<a href="https://www.youtube.com/@{{ dev.name | replace_first: " ", ""}}"><img src="{{ dev.image_path }}" class='rounded-circle' alt='Hololive'></a>
			<a href="https://www.youtube.com/@{{ dev.name | replace_first: " ", ""}}"><h5 class='extra-margin'>{{ dev.name }}</h5></a>
		</div>
{% endfor %}
</div>